@keyframes spinner {
    to {transform: rotate(360deg);}
}
   
.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #000;
    animation: spinner .6s linear infinite;
}
.small:before {
    border-radius: 50%;
    width: 2em;
    height: 2em;
}
.medium:before {
    border-radius: 50%;
    width: 5em;
    height: 5em;
}
.large:before {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
